$alto: #DCDCDC;
$black: #000;
$white: #FFF;
$dove-gray: #666;
$gray: #AAB4C6;
$lighter-gray: #B8D8D8;
$dark-gray: #4A4A4A;
$gradient-start: #121212;
$gradient-end: #292929;
$line-shadow: #AFAFAF;
$filter-desc: #C6C6C6;
$cp-button: #00C4B4;
$cold-gray: #121212;
$silver-chalice: #AFAFAF;
$silver: #C6C6C6;
$robinsegg-blue: #03DAC5;
$cutty-stark: #4E7F7F;
$mine-shaft: #333;
$dark-mineshaft: #292929;
$dark-green: #112423;
$spray: #70EFDE;
$navbar-bg: rgba(#FFF, 0.12);
$dusty-gray: #999;
$yellow: #FFCC3C;
$sunset-orange: #FF5846;
$irish-coffee: #6B2C25;
$coffee-bean: #2D120F;
$pine-green: #00796F;
$stromboli: #355A59;
$casal: #275B59;
$black-alpha: rgba(#000, 0.25);
$robinsegg-blue-light: #00C4B4;
