@font-face {
  font-family: RubikRegular;
  src: url('../../app/assets/fonts/Rubik/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: RubikItalic;
  src: url('../../app/assets/fonts/Rubik/Rubik-Italic.ttf') format('truetype');
}

@font-face {
  font-family: RubikLight;
  src: url('../../app/assets/fonts/Rubik/Rubik-Light.ttf') format('truetype');
}

@font-face {
  font-family: RubikLightItalic;
  src: url('../../app/assets/fonts/Rubik/Rubik-LightItalic.ttf')
    format('truetype');
}

@font-face {
  font-family: RubikBlack;
  src: url('../../app/assets/fonts/Rubik/Rubik-Black.ttf') format('truetype');
}

@font-face {
  font-family: RubikBlackItalic;
  src: url('../../app/assets/fonts/Rubik/Rubik-BlackItalic.ttf')
    format('truetype');
}

@font-face {
  font-family: RubikBold;
  src: url('../../app/assets/fonts/Rubik/Rubik-Bold.ttf') format('truetype');
}

@font-face {
  font-family: RubikBoldItalic;
  src: url('../../app/assets/fonts/Rubik/Rubik-BoldItalic.ttf')
    format('truetype');
}

@font-face {
  font-family: RubikMedium;
  src: url('../../app/assets/fonts/Rubik/Rubik-Medium.ttf') format('truetype');
}

@font-face {
  font-family: RubikMediumItalic;
  src: url('../../app/assets/fonts/Rubik/Rubik-MediumItalic.ttf')
    format('truetype');
}
